# Tworzenie engine

In [1]:
from sqlalchemy import create_engine

In [2]:
import psycopg2

/home/kodolamacz/oop/venv/lib/python3.5/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

* aby sie polaczyc potrzebny jest connecton string
* postac : 'postgresql://postgres:postgres@localhost:5432/postgres'

In [3]:
connection_string = 'postgresql://postgres:postgres@localhost:5432/postgres'

In [4]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/postgres')

In [5]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [6]:
from sqlalchemy import Column, Integer, String

In [7]:
class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column(String)

    def __repr__(self):
        return "<User(name='%s', fullname='%s', password='%s')>" % (
                 self.name, self.fullname, self.password)

In [8]:
Base.metadata.create_all(engine)

In [9]:
ed_user = User(name='ed', fullname='Ed Jones', password='edspassword')

In [10]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
Session = sessionmaker()
Session.configure(bind=engine)
session = Session()

In [11]:
session.add(ed_user)

In [12]:
session.commit()

In [13]:
ed_user.id

11

In [14]:
session.query(User).all()

[<User(name='ed', fullname='Ed Jones', password='edspassword')>,
 <User(name='sam', fullname='Sam Jones', password='samspassword')>,
 <User(name='ewa', fullname='Ewa Jarek', password='ewapassword')>,
 <User(name='tomek', fullname='Tomek Nowak', password='haslo')>,
 <User(name='ed', fullname='Ed Jones', password='edspassword')>,
 <User(name='sam', fullname='Sam Jones', password='samspassword')>,
 <User(name='ewa', fullname='Ewa Jarek', password='ewapassword')>,
 <User(name='ed', fullname='Ed Jones', password='edspassword')>,
 <User(name='sam', fullname='Sam Jones', password='samspassword')>,
 <User(name='ewa', fullname='Ewa Jarek', password='ewapassword')>,
 <User(name='ed', fullname='Ed Jones', password='edspassword')>]

In [15]:
session.add_all([User(name='sam', fullname='Sam Jones', password='samspassword'), 
                 User(name='ewa', fullname='Ewa Jarek', password='ewapassword')])

In [16]:
session.commit()

In [17]:
session.query(User).all()

[<User(name='ed', fullname='Ed Jones', password='edspassword')>,
 <User(name='sam', fullname='Sam Jones', password='samspassword')>,
 <User(name='ewa', fullname='Ewa Jarek', password='ewapassword')>,
 <User(name='tomek', fullname='Tomek Nowak', password='haslo')>,
 <User(name='ed', fullname='Ed Jones', password='edspassword')>,
 <User(name='sam', fullname='Sam Jones', password='samspassword')>,
 <User(name='ewa', fullname='Ewa Jarek', password='ewapassword')>,
 <User(name='ed', fullname='Ed Jones', password='edspassword')>,
 <User(name='sam', fullname='Sam Jones', password='samspassword')>,
 <User(name='ewa', fullname='Ewa Jarek', password='ewapassword')>,
 <User(name='ed', fullname='Ed Jones', password='edspassword')>,
 <User(name='sam', fullname='Sam Jones', password='samspassword')>,
 <User(name='ewa', fullname='Ewa Jarek', password='ewapassword')>]

In [18]:
session.query(User).filter(User.name == 'ed').all()

[<User(name='ed', fullname='Ed Jones', password='edspassword')>,
 <User(name='ed', fullname='Ed Jones', password='edspassword')>,
 <User(name='ed', fullname='Ed Jones', password='edspassword')>,
 <User(name='ed', fullname='Ed Jones', password='edspassword')>]

* tabela Car,
* moc(int), pojemnosc(float), brand(strint), Model(string)
* dodaj 5 samochodow
* wyswietl wszystkie samochody(J+B)

In [19]:
from sqlalchemy import Float

In [20]:
class Car(Base):
    __tablename__ = 'cars'
    __table_args__ = {'extend_existing': True}

    id = Column(Integer, primary_key=True)
    
    brand = Column(String)
    model = Column(String)
    moc = Column(Integer)
    pojemnosc = Column(Float)

    def __repr__(self):
        return "<Car(brand='%s', model='%s')>" % (
                 self.brand, self.model)

In [21]:
Base.metadata.create_all(engine)

In [22]:
bmw = Car(brand='BMW', model='360', moc=160, pojemnosc = 2.3)

In [23]:
session.add_all([Car(brand='Fiat', model='Tipo', moc=100, pojemnosc = 1.0), 
                 Car(brand='BMW', model='300', moc=140, pojemnosc = 2.0),
                 Car(brand='Toyota', model='RAV4', moc=160, pojemnosc = 2.3),
                 Car(brand='Mazda', model='6', moc=130, pojemnosc = 2.0)])

In [24]:
session.add(bmw)

In [25]:
session.commit()

In [26]:
session.query(Car).all()

[<Car(brand='Fiat', model='Tipo')>,
 <Car(brand='BMW', model='300')>,
 <Car(brand='Toyota', model='RAV4')>,
 <Car(brand='Mazda', model='6')>,
 <Car(brand='BMW', model='360')>,
 <Car(brand='Fiat', model='Tipo')>,
 <Car(brand='BMW', model='300')>,
 <Car(brand='Toyota', model='RAV4')>,
 <Car(brand='Mazda', model='6')>,
 <Car(brand='BMW', model='360')>]

In [27]:
session.query(Car).filter(Car.pojemnosc >= 2 ).all()

[<Car(brand='BMW', model='300')>,
 <Car(brand='Toyota', model='RAV4')>,
 <Car(brand='Mazda', model='6')>,
 <Car(brand='BMW', model='360')>,
 <Car(brand='BMW', model='300')>,
 <Car(brand='Toyota', model='RAV4')>,
 <Car(brand='Mazda', model='6')>,
 <Car(brand='BMW', model='360')>]

In [28]:
from sqlalchemy import func

In [29]:
min = session.query(func.min(Car.pojemnosc)).scalar()

In [31]:
min

1.0

In [33]:
session.query(Car).filter(Car.pojemnosc == min).delete()

2

In [34]:
session.query(Car).all()

[<Car(brand='BMW', model='300')>,
 <Car(brand='Toyota', model='RAV4')>,
 <Car(brand='Mazda', model='6')>,
 <Car(brand='BMW', model='360')>,
 <Car(brand='BMW', model='300')>,
 <Car(brand='Toyota', model='RAV4')>,
 <Car(brand='Mazda', model='6')>,
 <Car(brand='BMW', model='360')>]

In [35]:
min = session.query(func.min(Car.pojemnosc)).scalar()

In [36]:
min

2.0